REDIS_HOST=localhost
REDIS_PORT=
REDIS_PASSWORD=dev_pass

OPEN_WEATHER_MAP_API_KEY=
OPEN_WEATHER_MAP_BASE_URL=https://api.openweathermap.org/data/3.0/onecall
OPEN_WEATHER_MAP_EXCLUDED_FORECASTS=daily,minutely
